body{
    margin: 0;
}
#header{
    background: blanchedalmond;
    height: 100px;
    width: 100%;
}
#main{
    background:bisque;
    height: 300px;
    width: 70%;
    float: left;
}
#sidebar{
    background: salmon;
    height: 300px;
    width: 30%;
    float: left;
}
#footer{
    background: black;
    height: 100px;
    width: 100%;
    clear: both;
}